# Ignore pycache Python dirs
__pycache__/
.vscode

sustainml_docs/rst/_static/css/eprosima-furo.css
sustainml_docs/rst/_static/eprosima-logo-white.png
sustainml_docs/rst/_templates/sidebar/

# local build & venv
sustainml_docs/_build/
.venv/
