carbontracker
flask
flask-socketio==5.2.0
jsonschema
kaggle
networkx>=3.0
numpy>=1.24.1
ollama==0.3.3
onnx==1.17.0
onnxruntime==1.19.2
opencv-python==4.10.0.84
optimum==1.17.1
Pillow==10.4.0
PyQt5==5.15.11
rdflib==7.0.0
timm==1.0.14
torch==2.4.1
transformers==4.48.3
typer==0.15.1
ultralytics==8.3.4
